.training-list {
	padding: 10px 0 20px 0;
	// Table
	.table--training-list {
		border: 1px solid #dee1e2;
		border-top: 0;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		@include mq($until: ipad-l) {
			font-size: 13px;
		}
		thead {
			th {
				@include mq($until: ipad-l) {
					padding: 5px;
				}
				.fa {
					margin-left: 8px;
				}
				.fa.fa-angle-down {
					color: #032e3a;
				}
				padding: 15px;
				font-size: 14px;
				color: #95a5a6;
				font-weight: normal;
				text-align: left;
			}
		}
		tbody {
			td {
				@include mq($until: ipad-l) {
					padding: 5px;
				}
				font-size: 14px;
				color: #133944;
				border-top: 1px solid #dee1e2;
				padding: 15px;
				a {
					font-size: 14px;
					color: #0082cd;
				}
				.fa-check-circle {
					color: #dd2c00
				}
				.fa-times-circle {
					color: #27ae60;
				}
			}
		}
	}
}