// Clearfix
@mixin clearfix() {
	& {
		*zoom: 1;
	}
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
// Twitter Bootstrap Image Responsive
@mixin img-responsive(){
	display: block;
	max-width: 100%;
	height: auto;
}

// CSS Hack for IE10/11
@mixin ie(){
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}