// Should Be Available To Modals And Pages

.content__row {
	margin-bottom: 10px;
}

.content__row--lg {
	margin-bottom: 20px;
}

.sub-heading {
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	color: #032e3a;
	margin-bottom: 10px;
	span {
		font-family: $e-bold;
	}
}