// Used on Training List Page
.table-tabs {
	display: inline-block;
	.table-tab {
		@include mq($until: xwide) {
			padding: 5px 10px;
		}
		display: inline-block;
		font-size: 14px;
		font-family: $e-bold;
		text-align: center;
		text-transform: uppercase;
		padding: 15px 35px;
		color: #bcc3c4;
		&.table-tab--active {
			background:#084c85;
			color: #fff;
		}
		&:hover {
			cursor: pointer;
		}
		&:first-child {
			margin-left: 8px;
		}
	}
}