.edit-cpt-profile {
	padding: 30px 10px 20px 10px;
	@include heading;
	.buttons {
		text-align: center;
		.cancel__button {
			margin-right: 10px;
			min-width: 125px;
			// padding: 6px;
		}
		.accept__button {
			min-width: 125px;
			// padding: 6px;
		}
	}
}